@use '../../Styles/vars';

.about{
  .backgroundImg{
    background-image: url("/plan.jpg");
  }
  .serviceA, .serviceB{
    padding: 2em;
    border-radius: 0.5em;
    width: 100%;
    min-height: 25rem;
    box-shadow: 6px 6px 4px grey;
    display: flex;
    overflow: hidden;
    .serviceImg{
      height: 70%;
      width: 20em;
      margin: auto;
      @media(max-width: 800px){
        display: none;
      }
      img{
        height: 100%;
        object-fit: cover;
        border-radius: 0.5em;
      }
    }
    .serviceTxt{
      display: flex;
      flex-direction: column;
      text-align: justify;
      width: 100%;
      h4{
        text-align: center;
        padding: 1em;
      }
      p{
        padding-top: 2em;
      }
    }
  }
  .serviceA{
    background-color: vars.$green;
    .serviceTxt{
      @media(min-width: 800px){
        padding-left: 5em;
      }
    }
  }
  .serviceB{
    background-color: vars.$brown;
    .serviceTxt{
      @media(min-width: 800px){
        padding-right: 5em;
      }
    }
  }
  }