@use '../../Styles/vars';

.about{
  .backgroundImg{
    background-image: url("/plan.jpg");
  }
  .serviceA, .serviceB{
    padding: 2em;
    border-radius: 0.5em;
    width: 100%;
    min-height: 25rem;
    box-shadow: 6px 6px 4px grey;
    display: flex;
    overflow: hidden;
    box-shadow: 6px 6px 4px black;
    @media(min-width: 800px){
      width: 45%;
    }
    .serviceImg{
      height: 70%;
      width: 15em;
      margin: auto;
      &>*{
        height: 100%;
        color: vars.$orange-dark;
        object-fit: cover;
      }
    }
    .serviceTxt{
      display: flex;
      flex-direction: column;
      text-align: justify;
      width: 100%;
      h4{
        text-align: center;
        padding: 1em;
      }
      p{
        padding-top: 2em;
      }
    }
  }
  .serviceA{
    flex-direction: column;
    background-color: vars.$green;
  }
  .serviceB{
    flex-direction: column-reverse;
    background-color: vars.$brown;
  }
  }