@use '../../Styles/vars';

.menuNav{
  background-color: vars.$orange;
  display: flex;
  position: absolute;
  z-index: 20;
  top: 3em;
  width: 10em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: vars.$gutter;
    a, button{
      &:hover{
        scale: 1.2;
        transition: ease 0.3s;
      }
    }
  }
  button{
    border: none;
    background-color: vars.$orange;
  }
  a, button{
    color: black;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    align-items: center;
    gap: 1em;
    transition: ease 0.3s;
  }
  .active{
    color: vars.$light-color;
  }
}