@use '../../Styles/vars';

.realisations{
  .backgroundImg{
    background-image: url("/travail_1.jpg");
  }
  .content{
    min-height: 20em;
  }
  .container{
    @media(max-width: 500px){
      padding: 0;
    }
  }
  .serviceRate{
    color: white;
    padding: 2em;
    padding-top: 0;
    p{
      font-style: italic;
    }
  }
  .serviceA, .serviceB{
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    min-height: 25rem;
    gap: 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    @media(max-width: 800px){
      flex-direction: column;
    }
  // transform: translateX(-95%);
  // animation: slideIn linear both;
  // animation-timeline: view();
  // animation-range: entry 10% cover 30%;

  // @keyframes slideIn {
  //   from {
  //     transform: translateX(-100%);
  //   }
  //   to {
  //     transform: translateX(0);
  //   }
  // }

    .serviceImg{
      width: 35%;
      display: flex;
      align-items: center;
      @media(max-width: 800px){
        width: 18em;
        flex-direction: column;
      }
    }
    .serviceTxt{
      display: flex;
      flex-direction: column;
      text-align: justify;
      border-radius: 0.5em;
      box-shadow: 6px 6px 4px black;
      width: 100%;
      padding: 2em;
      h4{
        text-align: center;
        padding: 1em;
      }
      p{
        padding-top: 1em;
      }
    }
  }
  .serviceA{
    .serviceTxt{
      background-color: vars.$green;
    }
    // &:nth-child(odd) {
    //   animation-delay: 0.2s;
    // }
  }
  .serviceB{
    .serviceTxt{
      background-color: vars.$brown;
      @media(max-width: 800px){
        order: 2;
      }
    }
  //   transform: translateX(100%);
  
  // @keyframes slideIn {
  //   to {
  //     transform: translateX(0);
  //   }
  // }
  }
}