// Generic
$green: rgb(152, 181, 147);
$green-light: #c0ddba;
$blue: rgb(145, 171, 165);
$blue-light: #b4d2cb;
$brown: #E6B94D;
$brown-light: #fadd9b;
$orange: #FF8D1D;
$orange-dark: #AD4100;

$dark-color: #3A3939;
$light-color: #fff;
$gutter: 2rem;
