// Generic
$primary-color: #054652;
$primary-color-light: #2B5960;
$secondary-color: #008EC2;
$secondary-color-light: #4BA9CC;
$grey-color: #e3e3e3e3;
$grey-color-light: #D3D3D3;
$dark-color: #101010;
$light-color: #fff;
$gutter: 2rem;
