// Generic
$green: rgb(152, 181, 147, 0.4);
$green-light: #c0ddba;
$blue: rgb(145, 171, 165, 0.4);
$blue-light: #b4d2cb;
$brown: rgb(224, 201, 167, 0.4);
$orange: #D37601;
$dark-color: #101010;
$light-color: #fff;
$gutter: 2rem;
