@use '../../Styles/vars';

body{
  scroll-behavior: smooth;
  background-color: black;
}

main{
  position: relative;
  overflow: hidden;
}

h1{
  text-shadow: 0.3px 0.3px 0.3px rgb(0, 0, 0);
}

h3{
  text-align: center;
  text-transform: uppercase;
  padding: 0.8em;
  color: vars.$orange;
  text-shadow: 0.5px 0.5px 0.5px rgb(255, 145, 0);
  font-size: 2.5em;
  font-weight: 600;
  // background-color: vars.$dark-color;
  @media(max-width: 500px){
    font-size: 2em;
  }
}

h4{
  text-transform: uppercase;
  text-shadow: 0.3px 0.3px 0.3px rgb(0, 0, 0);
}

.active{
  color: vars.$light-color;
}

.hidden{
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hero{
  min-height: 20em;
  padding-top: 5em;
  @media(max-width: 700px){
    padding-top: 10em;
  }
  .filterblack{
    background-color: rgba(0, 0, 0, 0.2);
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
      color: vars.$light-color;
    }
  };
  .backgroundImg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
      text-shadow: 1.5px 1.5px 2px black;
    }
  }
}

.container{
  padding : vars.$gutter;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4em;
  @media (max-width: 500px) {
    padding: 0;
  }
}

.brownBar{
  background-color: vars.$orange-dark;
  height: 2em;
  width: 100%;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: vars.$gutter;
  a, button{
    color: black;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    align-items: center;
    gap: 1em;
    transition: ease 0.3s;
    &:hover{
      scale: 1.2;
      transition: ease 0.3s;
    }
  }
  button{
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
  }
}

.citation{
  color: vars.$brown;
  margin: 2em 1em;
  padding: 0.5em;
  border-radius: 2px;
  text-shadow: 0.3px 0.3px 0.3px rgb(209, 118, 0);
  .citationTxt{
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
  }
  .citationAuthor{
    text-align: end;
    font-size: 1.8em;
  }
}
// .content{
//   background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(124, 124, 124, 0.5) 50%, rgba(0, 0, 0, 1) 100%);
//   a{
//     color: black;
//     width: 95%;
//   }
// }
.content {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,       /* Noir opaque en haut */
      rgba(0, 0, 0, 0) 15%,      /* Transparent au milieu vertical */
      rgba(0, 0, 0, 0) 85%,      /* Transparent au milieu vertical */
      rgba(0, 0, 0, 1) 100%      /* Noir opaque en bas */
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,       /* Noir opaque à gauche */
      rgba(124, 124, 124, 0.5) 25%,/* Gris au centre horizontal */
      rgba(124, 124, 124, 0.7) 50%,/* Gris au centre horizontal */
      rgba(124, 124, 124, 0.5) 75%,/* Gris au centre horizontal */
      rgba(0, 0, 0, 1) 100%      /* Noir opaque à droite */
    );
  background-blend-mode: multiply; /* Combine les deux dégradés */
  a {
    color: black;
    width: 95%;
  }
}