@use '../../Styles/vars';

.home{
  .backgroundImg{
    background-image: url("/deco.jpg");
  }
  .rates{
    min-height: 20em;
  }
  .content{
    a{
      color: black;
      width: 95%;
    }
  }
  .rate{
    background-color: vars.$blue;
    padding: 1em;
    border-radius: 4px;
    width: 20rem;
    height: 10rem;
  }
}