@use '../../Styles/vars';

.home{
  .backgroundImg{
    background-image: url("/deco.jpg");
  }
  .rates{
    min-height: 10em;
  }
  .content{
    a{
      color: black;
      width: 95%;
    }
  }
  .service{

    border-radius: 0.5em;
    width: 100%;
    min-height: 15rem;
    background-color: vars.$blue;
    box-shadow: 6px 6px 4px black;
    display: flex;
    overflow: hidden;
    gap: 4em;
    @media(max-width: 800px){
      flex-direction: column;
    }
    .serviceImg{
      min-height: 100%;
      min-width: 50%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5em;
      }
    }
    .serviceTxt{
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      text-align: justify;
      justify-content: center;
      width: 100%;
      background-color: vars.$blue-light;
      border-radius: 0.5em;
      position: relative;
      @media(min-width: 800px){
        right: 8em;
      }
      @media(max-width: 800px){
        bottom: 8em;
        width : 90%;
        margin: auto;
      }
      h4{
        text-align: center;
        padding: 1em;
      }
      p{
        padding-top: 2em;
      }
    }
  }
  .rate{
    background-color: vars.$blue;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 6px 6px 4px grey;
    width: 20rem;
    min-height: 10rem;
  }
}