@use '../../Styles/vars';

header{
  background-color: vars.$orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em;
  .logo{
    display: flex;
  }
  nav{
    display: flex;
    gap: vars.$gutter;
  }
  a{
    color: vars.$dark-color;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    align-items: center;
    gap: 1em;
    transition: ease 0.3s;
    &:hover{
      scale: 1.2;
      transition: ease 0.3s;
    }
  };
  .active{
    color: vars.$light-color;
  }
}