@use '../../Styles/vars';

.carousel {
  position: relative;
  margin: auto;
  width: 100%;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; // Bordures arrondies pour un meilleur rendu
  overflow: hidden; // Empêche les images de déborder en dehors du conteneur
 

  .carouselImages {
    display: flex; // Permet un affichage horizontal des images
    height: 100%;
    align-items: center;

    .carouselImage {
      border-radius: 8px; // Bordures arrondies pour un meilleur rendu

      height: auto; // Maintient les proportions de l'image
      object-fit: cover; // Ajuste l'image pour qu'elle ne déborde pas verticalement
    }
  }

  .chevron {
    position: absolute;
    top: 50%; // Centre verticalement le bouton
    transform: translateY(-50%); // Ajuste pour que le bouton soit parfaitement centré
    background-color: rgba(0, 0, 0, 0.3); // Fond semi-transparent pour les boutons
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 5;

    &.chevronLeft {
      left: 10px; // Positionne le bouton gauche légèrement à l'intérieur du carrousel
    }

    &.chevronRight {
      right: 10px; // Positionne le bouton droit légèrement à l'intérieur du carrousel
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.6); // Change la couleur au survol pour un effet visuel
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); // Fond noir semi-transparent
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
  animation: fadeIn ease-in-out .2s forwards;

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  
    .modalContent {
      position: relative;
      max-width: 90%;
      max-height: 90%;
  
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 90dvh;
        border-radius: 8px; // Bordures arrondies pour un meilleur rendu
      }
      
    }
  }
}
