@use  '../../Styles/vars';


footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: vars.$orange;
  padding: 1.3em;
  .links{
    display: flex;
    justify-content:space-around;
    @media(max-width: 800px){
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  }
  .link{
    width:15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  a{ color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: ease 0.3s;

    &:hover {
      scale: 1.2;
      transition: ease 0.3s;
      }}
  p{
    padding-top:1.3em
  }
}
