@use  '../../Styles/vars';


footer{
  display: flex;
  flex-direction: column;
  background-color: vars.$orange;
  padding: 1.3em;
  .links{
    display: flex;
    justify-content:space-around;
  }
  .link{
    width:6em;
  }
  a{ color: vars.$dark-color;
    text-decoration: none;
    transition: ease 0.3s;

    &:hover {
      scale: 1.2;
      transition: ease 0.3s;
      }}
  p{
    padding:1.3em
  }
}
